body
{
    margin: 0px;
    background-color:#e6e6e6;
    font-family: "Segoe UI";
    font-weight: lighter;
    color: #777;
}

.upperTop
{
    background-color: #fff;

    display: block;
    height: 20em;

    text-align: center;
}

.top
{
    font-size: 10em;
}

.bottom
{
    font-size: 2em;
}

.inc
{
    font-size: 2.5em;

    margin-left: 15%;
    margin-top: 1.5%;
}

.info
{
    font-size: 1.5em;
    text-align: center;

    margin-left: 20%;
    margin-right: 20%;
}

.works
{
    margin-top: 5%;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}

.redirect
{
    display: inline-block;
    text-align:center;
    font-size: 1.5em;
}

.logo
{
    width:50%;
}
