body
{
    margin: 0px;
    background-image:linear-gradient(to bottom, #fff, #ddd);
    font-family: "Segoe UI";
    font-weight: lighter;
    color: #777;
}

img.avatar
{
    display:block;
    margin-top: 3%;
    margin-left:auto;
    margin-right:auto;
    width: 10%;
}

.name
{
    font-size: 150%;
    text-align:center;
}

.inc
{
    font-size: 2.5em;

    margin-left: 15%;
    margin-top: 3.5%;
}

.info
{
    font-size: 1.5em;
    text-align: center;

    margin-left: 20%;
    margin-right: 20%;
}

a.link
{
    text-decoration: none;
}

.works
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.3%;
    width: 50%;
}

.redirect
{
    display: inline-block;
    text-align:center;
    font-size: 1.5em;
}

.logo
{
    width:40%;
}
